node_modules
**/node_modules
.next
**/.next
dist
**/dist
.git
.github
.turbo
**/.turbo
coverage
**/coverage
*.log
**/*.log
.env
**/.env
.env.local
**/.env.local
.env.*.local
**/.env.*.local
data
**/data
docker-compose*.yml
.dockerignore
README.md
apps/*/extension/dist
charts
argocd
docs
scripts
